gateway/flows.json
[{"id":"02d99818dd002011","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf6a3c96.35048","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11207769.c31889","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"57ff470b.93fdf8","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"29fba84a.b2af58","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"98650adeec3ed1f2","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2800320ae44561f0","type":"http request","z":"02d99818dd002011","name":"get kolbenova","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/stopGroups/kolbenova","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":300,"y":600,"wires":[["705272fcb3251d7e"]]},{"id":"705272fcb3251d7e","type":"debug","z":"02d99818dd002011","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":600,"wires":[]},{"id":"0cadd6aa2b4f6a9c","type":"inject","z":"02d99818dd002011","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":600,"wires":[["2800320ae44561f0"]]},{"id":"dc9936ba47a82a3a","type":"http request","z":"02d99818dd002011","name":"get mock departures","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/gateway/1/departures","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":320,"y":780,"wires":[["706fffb94b90f332"]]},{"id":"706fffb94b90f332","type":"debug","z":"02d99818dd002011","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":780,"wires":[]},{"id":"28b3f4416334781c","type":"inject","z":"02d99818dd002011","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":780,"wires":[["dc9936ba47a82a3a"]]},{"id":"6a763efe24029617","type":"mqtt in","z":"02d99818dd002011","name":"","topic":"tower_health","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":860,"wires":[["476c13bae376f1b9"]]},{"id":"476c13bae376f1b9","type":"debug","z":"02d99818dd002011","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":860,"wires":[]},{"id":"ca9ab23efc4c6958","type":"mqtt out","z":"02d99818dd002011","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":110,"y":460,"wires":[]},{"id":"a6a85656558ef879","type":"inject","z":"02d99818dd002011","name":"TEST node/assignment","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/tower-ontime:0/assignment/-/data/set","payload":"\"hello\"","payloadType":"str","x":160,"y":420,"wires":[["2a452aad5597d104","ca9ab23efc4c6958"]]},{"id":"69183f4365985336","type":"mqtt in","z":"02d99818dd002011","name":"","topic":"node/#","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":false,"inputs":0,"x":110,"y":60,"wires":[["7e49949e03610e94"]]},{"id":"7e49949e03610e94","type":"debug","z":"02d99818dd002011","name":"","active":true,"console":"false","complete":"false","x":270,"y":60,"wires":[]},{"id":"eda4f89465cfacf6","type":"mqtt out","z":"02d99818dd002011","name":"","topic":"node/tower-ontime:0/assignment/-/data/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":370,"y":300,"wires":[]},{"id":"6f8df349b9e6a2d8","type":"http request","z":"02d99818dd002011","name":"towertest","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:3000/towertest","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":260,"y":200,"wires":[["432de3450e929ee1"]]},{"id":"08eeb87709b12919","type":"inject","z":"02d99818dd002011","name":"manual","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":140,"wires":[["6f8df349b9e6a2d8"]]},{"id":"5a73092843305050","type":"debug","z":"02d99818dd002011","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":240,"wires":[]},{"id":"2a452aad5597d104","type":"debug","z":"02d99818dd002011","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":420,"wires":[]},{"id":"432de3450e929ee1","type":"function","z":"02d99818dd002011","name":"function 1","func":"msg.payload = msg.payload;\n\nconst MAX_LEN = 42;\n\nfunction chunkString(str, size) {\n    const chunks = [];\n    for (let i = 0; i < str.length; i += size) {\n        chunks.push(str.slice(i, i + size));\n    }\n    return chunks;\n}\n\nconst chunks = chunkString(msg.payload.trim(), MAX_LEN - 2);\nchunks.forEach((chunk, i) => {\n    setTimeout(() => {\n        node.send({\n            payload: `\"${chunk}\"`,\n            chunk_index: i,\n            chunk_total: chunks.length\n        });\n    }, i * 200);\n});\n\nreturn null;","outputs":1,"timeout":0,"noerr":4,"initialize":"","finalize":"","libs":[],"x":260,"y":240,"wires":[["eda4f89465cfacf6","5a73092843305050"]]},{"id":"1612e61731e9bf08","type":"inject","z":"02d99818dd002011","name":"auto","props":[],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":90,"y":200,"wires":[["6f8df349b9e6a2d8"]]}]