gateway/flows.json
[{"id":"46ae5e1c0cb73834","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"29fba84a.b2af58","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bf6a3c96.35048","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11207769.c31889","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"a29e0b1cf17242e2","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"d13fb8c54cdb5de7","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"66b1cad72ec90515","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ca04bdf709539b5","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"dfec6ab5ccc48708","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"b6b06acc4d92bb12","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f03538046644bf99","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"9b2cf2fef7ae8361","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"994f1d70bc868e1c","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"d52846479fb65b5a","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"76a344979c888121","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"908923ffa62809a1","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"dcb5e0f815a194b1","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"e671f7174fa6d0aa","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"224e264f085fb5fc","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"59832f2d6e7a4d98","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"98416e61e0c60b10","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"15d5786d250fb9f1","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"24c4b8519d6ef251","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"2902f8fa7fad50d6","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4d4fb27d06c6a32c","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"4dcd4d3546900ecc","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"882069a1f2e3f71a","type":"mqtt in","z":"46ae5e1c0cb73834","name":"Tower Health","topic":"node/tower-ontime:0/tower_health","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":180,"wires":[["4316a3b937fcc028"]]},{"id":"a2677ca8653eb826","type":"mqtt in","z":"46ae5e1c0cb73834","name":"Register gateway","topic":"gateway/usb-dongle/info","qos":"2","datatype":"json","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":280,"wires":[["b26112084969766e"]]},{"id":"b26112084969766e","type":"function","z":"46ae5e1c0cb73834","name":"set gatewayId","func":"global.set('gatewayId', msg.payload.id);\nconst id = global.get('gatewayId');\nnode.warn(`gatewayId: ${id}`);\nreturn {\n    payload: {\n        id: id\n    }\n};\n","outputs":1,"noerr":4,"initialize":"","finalize":"","libs":[],"x":300,"y":280,"wires":[["06a1c1244361c233"]]},{"id":"4cc354872a96c19e","type":"mqtt in","z":"46ae5e1c0cb73834","name":"Register towers","topic":"gateway/usb-dongle/nodes","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":340,"wires":[["44571b2834612628"]]},{"id":"44571b2834612628","type":"function","z":"46ae5e1c0cb73834","name":"set towerIds","func":"const towerIds = [];\nfor (tower of msg.payload) {\n    towerIds.push(tower.id);\n}\nglobal.set('towerIds', towerIds);\nconst ids = global.get('towerIds');\nnode.warn(`towerIds: ${towerIds}`);\n\nreturn {\n    payload: {\n        ids: ids\n    }\n};\n","outputs":1,"noerr":6,"initialize":"","finalize":"","libs":[],"x":290,"y":340,"wires":[[]]},{"id":"adbab938d4bc067a","type":"http request","z":"46ae5e1c0cb73834","name":"Get assignments","method":"POST","ret":"txt","paytoqs":"body","url":"https://ontime-production-aa3e.up.railway.app/gateways/departures","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":750,"y":400,"wires":[["58421de4a45ddf2d","96a91903cb47ba89"]]},{"id":"06a1c1244361c233","type":"delay","z":"46ae5e1c0cb73834","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":470,"y":280,"wires":[["b94ae88e9283e3c9"]]},{"id":"329ac0eef87d8e8a","type":"function","z":"46ae5e1c0cb73834","name":"Build message","func":"const towerIds = global.get('towerIds');\nconst gatewayId = global.get('gatewayId');\nconst unixTime = global.get('unixTime');\nconst signature = global.get('signature');\n\nconst data = {\n    gatewayId: gatewayId,\n    towerIds: towerIds,\n    unixTime: unixTime,\n    signature: signature,\n    requestType: \"get_departures\"\n};\n// node.warn(data);\nreturn {\n    payload: data\n};\n","outputs":1,"noerr":4,"initialize":"","finalize":"","libs":[],"x":740,"y":340,"wires":[["adbab938d4bc067a"]]},{"id":"04ee9b3f087181e1","type":"mqtt out","z":"46ae5e1c0cb73834","name":"tower:0","topic":"node/tower-ontime:0/assignment/-/data/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":960,"y":460,"wires":[]},{"id":"58421de4a45ddf2d","type":"function","z":"46ae5e1c0cb73834","name":"Chunk message","func":"msg.payload = msg.payload;\n\nif (msg.payload.charAt(0) !== '[') {\n    node.error(`Error: ${msg.payload}`);\n    return;\n}\n\nnode.log(msg.payload);\n\nconst MAX_LEN = 42;\n\nfunction chunkString(str, size) {\n    const chunks = [];\n    for (let i = 0; i < str.length; i += size) {\n        chunks.push(str.slice(i, i + size));\n    }\n    return chunks;\n}\n\nconst chunks = chunkString(msg.payload.trim(), MAX_LEN - 2);\nchunks.forEach((chunk, i) => {\n    setTimeout(() => {\n        node.send({\n            payload: `\"${chunk}\"`,\n            chunk_index: i,\n            chunk_total: chunks.length\n        });\n    }, i * 200);\n});\n\nreturn null;","outputs":1,"noerr":6,"initialize":"","finalize":"","libs":[],"x":740,"y":460,"wires":[["04ee9b3f087181e1","6c9e80a813500025","314293ede8316184","a299812bd0a9048e","1096d108086f3766"]]},{"id":"c314a247cd7f593f","type":"http request","z":"46ae5e1c0cb73834","name":"Send Health Data","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://ontime-production-aa3e.up.railway.app/gateways/health","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":490,"y":180,"wires":[[]]},{"id":"4316a3b937fcc028","type":"function","z":"46ae5e1c0cb73834","name":"Health Constructor","func":"const towerId = msg.payload.slice(0, 12);\n\nnode.warn(msg.payload);\n\nmsg.payload = {\n    towerId\n}\nnode.warn(`Sending health data for tower ${JSON.stringify(msg.payload)}`);\n\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":290,"y":180,"wires":[["c314a247cd7f593f"]]},{"id":"c31991e66fc02713","type":"inject","z":"46ae5e1c0cb73834","name":"auto","props":[],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":490,"y":340,"wires":[["b94ae88e9283e3c9"]]},{"id":"b94ae88e9283e3c9","type":"function","z":"46ae5e1c0cb73834","name":"Create HMAC input","func":"const secret = \"523d85b2f063ac6d7628302e903ba810\";\nconst gatewayId = global.get(\"gatewayId\");\nconst requestType = \"get_departures\";\nglobal.set(`unixTime`, Date.now());\nconst unixTime = global.get(`unixTime`);\n\nconst input = gatewayId + \"|\" + unixTime + \"|\" + requestType;\n// node.warn(input);\n\n// if (!gatewayId) return;\n\n// const signature = crypto.createHmac('sha256', secret).update(stringToSign).digest('hex');\n\nmsg.payload = {\n    gatewayId: gatewayId,\n    unixTime: unixTime,\n    input: input,\n    secret: secret\n};\n\nreturn msg;","outputs":1,"noerr":3,"initialize":"","finalize":"","libs":[],"x":750,"y":280,"wires":[["b4ac236f78cf8838"]]},{"id":"fade5d06ef4d0403","type":"function","z":"46ae5e1c0cb73834","name":"Set signature","func":"global.set(`signature`, msg.payload);\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":1050,"y":280,"wires":[["329ac0eef87d8e8a"]]},{"id":"96a91903cb47ba89","type":"debug","z":"46ae5e1c0cb73834","name":"print res","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":400,"wires":[]},{"id":"b4ac236f78cf8838","type":"hmac","z":"46ae5e1c0cb73834","name":"Hash","algorithm":"HmacSHA256","key":"payload.secret","value":"payload.input","x":910,"y":280,"wires":[["fade5d06ef4d0403"]]},{"id":"80a131f03c341af3","type":"function","z":"46ae5e1c0cb73834","name":" ","func":"const id = global.get(\"gatewayId\");\nnode.warn(`Gateway ID: ${id}`);\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":290,"y":80,"wires":[[]]},{"id":"fca249d997ef8a49","type":"inject","z":"46ae5e1c0cb73834","name":"Print Gateway ID","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["80a131f03c341af3"]]},{"id":"1096d108086f3766","type":"mqtt out","z":"46ae5e1c0cb73834","name":"tower:1","topic":"node/tower-ontime:1/assignment/-/data/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":960,"y":500,"wires":[]},{"id":"6c9e80a813500025","type":"mqtt out","z":"46ae5e1c0cb73834","name":"tower:2","topic":"node/tower-ontime:2/assignment/-/data/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":960,"y":540,"wires":[]},{"id":"314293ede8316184","type":"mqtt out","z":"46ae5e1c0cb73834","name":"tower:3","topic":"node/tower-ontime:3/assignment/-/data/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":960,"y":580,"wires":[]},{"id":"a299812bd0a9048e","type":"mqtt out","z":"46ae5e1c0cb73834","name":"tower:4","topic":"node/tower-ontime:4/assignment/-/data/set","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":960,"y":620,"wires":[]},{"id":"300f4e69122cd6b3","type":"function","z":"46ae5e1c0cb73834","name":" ","func":"const ids = global.get(\"towerIds\");\nnode.warn(`Tower IDs: \\n ${ids}`);\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":290,"y":120,"wires":[[]]},{"id":"7a5315ce168f2fef","type":"inject","z":"46ae5e1c0cb73834","name":"Print Tower IDs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["300f4e69122cd6b3"]]}]