gateway/flows.json
[{"id":"8a4a08fafbd05983","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf6a3c96.35048","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11207769.c31889","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"57ff470b.93fdf8","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"29fba84a.b2af58","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"98650adeec3ed1f2","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"49e44698b2da9936","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"a5eb81a7436ae7dd","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4f618e74bfe3de6a","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"dcda35e865c39070","type":"serial-port","name":"Tower Serial","serialport":"COM99999","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"cee4ce6147f4492e","type":"http request","z":"8a4a08fafbd05983","name":"get kolbenova","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/stopGroups/kolbenova","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":300,"y":1140,"wires":[["033984d0a017359f"]]},{"id":"033984d0a017359f","type":"debug","z":"8a4a08fafbd05983","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":1140,"wires":[]},{"id":"5a66f4fd1d476fc6","type":"inject","z":"8a4a08fafbd05983","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1140,"wires":[["cee4ce6147f4492e"]]},{"id":"4b25b7493c53ca1c","type":"http request","z":"8a4a08fafbd05983","name":"get mock departures","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/gateway/1/departures","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":320,"y":1200,"wires":[["13e45583e0fdc2f2"]]},{"id":"13e45583e0fdc2f2","type":"debug","z":"8a4a08fafbd05983","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":1200,"wires":[]},{"id":"700ca45f663bf559","type":"inject","z":"8a4a08fafbd05983","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1200,"wires":[["4b25b7493c53ca1c"]]},{"id":"dcaec506cd132470","type":"mqtt in","z":"8a4a08fafbd05983","name":"","topic":"tower_health","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":120,"wires":[["b6a8c9e5d091a208"]]},{"id":"5253779d34c53e41","type":"mqtt out","z":"8a4a08fafbd05983","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":110,"y":1060,"wires":[]},{"id":"3a3451a85129fab9","type":"inject","z":"8a4a08fafbd05983","name":"TEST node/assignment","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/tower-ontime:0/assignment/-/data/set","payload":"\"hello\"","payloadType":"str","x":160,"y":1020,"wires":[["fe87cb921e5a5d56","5253779d34c53e41"]]},{"id":"5e13636691e45446","type":"mqtt out","z":"8a4a08fafbd05983","name":"","topic":"node/tower-ontime:0/assignment/-/data/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":690,"y":940,"wires":[]},{"id":"cb1d6364c077c393","type":"http request","z":"8a4a08fafbd05983","name":"towertest","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:3000/towertest","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":260,"y":920,"wires":[["0b2f7d79408d6577"]]},{"id":"d4516be9c7e81c90","type":"debug","z":"8a4a08fafbd05983","name":"TOWERTEST","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":900,"wires":[]},{"id":"fe87cb921e5a5d56","type":"debug","z":"8a4a08fafbd05983","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":1020,"wires":[]},{"id":"0b2f7d79408d6577","type":"function","z":"8a4a08fafbd05983","name":"function 1","func":"msg.payload = msg.payload;\n\nconst MAX_LEN = 42;\n\nfunction chunkString(str, size) {\n    const chunks = [];\n    for (let i = 0; i < str.length; i += size) {\n        chunks.push(str.slice(i, i + size));\n    }\n    return chunks;\n}\n\nconst chunks = chunkString(msg.payload.trim(), MAX_LEN - 2);\nchunks.forEach((chunk, i) => {\n    setTimeout(() => {\n        node.send({\n            payload: `\"${chunk}\"`,\n            chunk_index: i,\n            chunk_total: chunks.length\n        });\n    }, i * 200);\n});\n\nreturn null;","outputs":1,"noerr":4,"initialize":"","finalize":"","libs":[],"x":420,"y":920,"wires":[["5e13636691e45446","d4516be9c7e81c90"]]},{"id":"239723f4d4b019b8","type":"inject","z":"8a4a08fafbd05983","name":"auto","props":[],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":110,"y":920,"wires":[[]]},{"id":"b6a8c9e5d091a208","type":"debug","z":"8a4a08fafbd05983","name":"TODO: send to server","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":120,"wires":[]},{"id":"e4a1cc0405d632fc","type":"mqtt in","z":"8a4a08fafbd05983","name":"Register gateway","topic":"gateway/usb-dongle/info","qos":"2","datatype":"json","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":380,"wires":[["e7e253db4b3c2e2b"]]},{"id":"e7e253db4b3c2e2b","type":"function","z":"8a4a08fafbd05983","name":"set gatewayId","func":"global.set('gatewayId', msg.payload.id);\nconst id = global.get('gatewayId');\nnode.warn(`gatewayId: ${id}`);\nreturn {\n    payload: {\n        id: id\n    }\n};\n","outputs":1,"noerr":4,"initialize":"","finalize":"","libs":[],"x":320,"y":380,"wires":[["aca8cdf6d8c659ab"]]},{"id":"fb05f5dd42f5cf9f","type":"mqtt in","z":"8a4a08fafbd05983","name":"Register towers","topic":"gateway/usb-dongle/nodes","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":440,"wires":[["480f64c6dc8bbf3b"]]},{"id":"480f64c6dc8bbf3b","type":"function","z":"8a4a08fafbd05983","name":"set towerIds","func":"const towerIds = [];\nfor (tower of msg.payload) {\n    towerIds.push(tower.id);\n}\nglobal.set('towerIds', towerIds);\nconst ids = global.get('towerIds');\nnode.warn(`towerIds: ${towerIds}`);\n\nreturn {\n    payload: {\n        ids: ids\n    }\n};\n","outputs":1,"noerr":6,"initialize":"","finalize":"","libs":[],"x":310,"y":440,"wires":[[]]},{"id":"4abf834dc5db46a4","type":"http request","z":"8a4a08fafbd05983","name":"Get assignments","method":"POST","ret":"txt","paytoqs":"body","url":"http://localhost:3000/gateways/departures","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":670,"y":440,"wires":[["8ac16d7493f6c137"]]},{"id":"c4b1bf51a196159b","type":"debug","z":"8a4a08fafbd05983","name":"REAL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":500,"wires":[]},{"id":"aca8cdf6d8c659ab","type":"delay","z":"8a4a08fafbd05983","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":490,"y":380,"wires":[["74f2669762bd1e5e"]]},{"id":"74f2669762bd1e5e","type":"function","z":"8a4a08fafbd05983","name":"Parse IDs","func":"const towerIds = global.get('towerIds');\nconst gatewayId = global.get('gatewayId');\n\nconst data = {\n    gatewayId: gatewayId,\n    towerIds: towerIds\n};\nnode.warn(data);\nreturn {\n    payload: data\n};\n","outputs":1,"noerr":3,"initialize":"","finalize":"","libs":[],"x":640,"y":380,"wires":[["4abf834dc5db46a4","cd041d02e3b5e84a"]]},{"id":"cd041d02e3b5e84a","type":"debug","z":"8a4a08fafbd05983","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":380,"wires":[]},{"id":"38d41765fa6a689f","type":"mqtt out","z":"8a4a08fafbd05983","name":"Send assignments to towers","topic":"node/tower-ontime:0/assignment/-/data/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":700,"y":560,"wires":[]},{"id":"8ac16d7493f6c137","type":"function","z":"8a4a08fafbd05983","name":"Split the message","func":"msg.payload = msg.payload;\n\nconst MAX_LEN = 42;\n\nfunction chunkString(str, size) {\n    const chunks = [];\n    for (let i = 0; i < str.length; i += size) {\n        chunks.push(str.slice(i, i + size));\n    }\n    return chunks;\n}\n\nconst chunks = chunkString(msg.payload.trim(), MAX_LEN - 2);\nchunks.forEach((chunk, i) => {\n    setTimeout(() => {\n        node.send({\n            payload: `\"${chunk}\"`,\n            chunk_index: i,\n            chunk_total: chunks.length\n        });\n    }, i * 200);\n});\n\nreturn null;","outputs":1,"noerr":4,"initialize":"","finalize":"","libs":[],"x":670,"y":500,"wires":[["38d41765fa6a689f","c4b1bf51a196159b"]]},{"id":"13a0cfe2abaff9c8","type":"inject","z":"8a4a08fafbd05983","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":370,"y":520,"wires":[["74f2669762bd1e5e"]]},{"id":"c02e60071c964863","type":"inject","z":"8a4a08fafbd05983","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":840,"wires":[["cb1d6364c077c393"]]},{"id":"3885319b5f2171f1","type":"mqtt out","z":"8a4a08fafbd05983","name":"Send gateway ID to towers","topic":"node/tower-ontime:0/gateway_id","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":320,"y":680,"wires":[]},{"id":"76824684266babf7","type":"inject","z":"8a4a08fafbd05983","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":680,"wires":[["3885319b5f2171f1"]]},{"id":"f68de16195888603","type":"mqtt in","z":"8a4a08fafbd05983","name":"Tower Health","topic":" node/tower-ontime:0/tower_health","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":200,"wires":[["c12f90354c8fbb6a"]]},{"id":"c12f90354c8fbb6a","type":"debug","z":"8a4a08fafbd05983","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":200,"wires":[]}]